<%- include('../parts/head') %>
    <%- include('../parts/nav') %>
        <section id="club" class="white-section">
            <div class="container-fluid">
                <h2 class="about-title">About YourLib</h2>
                </h3>
                <div class="row">
                    <div class="col-lg-6">
                        <img src="/images/book.png" alt="book" class="about-img">
                    </div>
                    <div class="col-lg-6 about-content">
                        <p class="about-text">
                            <span class="about-subtitle"> Welcome to Your-Lib,<span> a resource pool for all.
                                    Explore a wide range of academic materials, including courses, Lecture materials,
                                    and
                                    worksheets, for students
                                    specializing in Computer Science, Mathematics, Physics, and Chemistry. Empower your
                                    studies
                                    with curated resources tailored to your educational needs.
                        </p>
                        <a href="/contact" class="btn btn-outline-primary about-btn">Get in Touch</a>
                    </div>
                </div>
            </div>
        </section>
        <%- include('../parts/footer') %>