<footer id="footer-main" class="colored-section">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-12 col-md-4 text-start mb-3 mb-md-0">
                <a class="footer-brand mb-0" href="https://taplink.cc/lib">
                    <img src="/images/book.png" alt="Logo" width="30" height="30"
                        class="d-inline-block align-text-top">
                    Your-lib
                </a>
            </div>
            <div class="col-12 col-md-4 text-center mb-3 mb-md-0">
                <ul class="list-unstyled mb-0">
                    <li class="d-inline mx-2"><a href="/" class="footer-item">Home</a></li>
                    <li class="d-inline mx-2"><a href="/resources" class="footer-item">Resources</a></li>
                    <li class="d-inline mx-2"><a href="/about" class="footer-item">About</a></li>
                    <li class="d-inline mx-2"><a href="/contact" class="footer-item">Contact</a></li>
                </ul>
            </div>
            <div class="col-12 col-md-4 text-end footer-contact-icons mb-3 mb-md-0">
                <a href =""><i class="fa-solid fa-envelope"></i></a>
                <a href =""><i class="fa-brands fa-instagram"></i></a>
                <a href =""><i class="fa-brands fa-facebook"></i></a>
                <a href =""><i
                        class="fa-brands fa-linkedin"></i></a>
            </div>
        </div>
        <p class="Copyright text-center mt-3">© Your-lib</p>
    </div>
</footer>